global:
  scrape_interval: 15s
  scrape_timeout: 10s
  evaluation_interval: 15s
scrape_configs:
  - job_name: prometheus
    honor_timestamps: true
    metrics_path: /actuator/prometheus
    scheme: http
    static_configs:
      - targets:
          - local-producer:9000
          - local-consumer:9000
